*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.main-box {
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border: 3px solid;
    position: relative;
    transition: all, 2s;
}
 
.box {
    width: 100px;
    height: 100px;
    border: 2px solid;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    transition: all, 2s;
}

.box1 {
    background-color: aqua;
    top: 0;
    left: 0;
}

.box2 {
    background-color: rgb(255, 51, 0);
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.box3 {
    background-color: rgb(201, 148, 50);
    top: 0;
    right: 0;
}

.box4 {
    background-color: rgb(229, 255, 0);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.box5 {
    background-color: rgb(136, 255, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.box6 {
    background-color: rgb(34, 133, 39);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.box7 {
    background-color: rgb(199, 112, 207);
    left: 0;
    bottom: 0;
}

.box8 {
    background-color: rgb(53, 40, 173);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box9 {
    background-color: rgb(194, 52, 230);
    bottom: 0;
    right: 0;
}

.main-box:hover {
    border-radius: 50%;
    background-color: black;
}

.main-box:hover .box {
    border: 2px solid white;
    border-radius: 100%;
    color: gray;
}
